

.selected {
    background: #45b6fe !important;
    color: white;
}

.options {
    padding: 10px;
    cursor: pointer;
    width:100%;
    background-color: rgb(156, 149, 149);
    border-radius: 5px;
    color: White;
    font-weight: bold;
    
}

ul {
    list-style-type: none;
   
}
ul li {
    margin: 5px;
    
}
@media only screen and (max-width: 812px) {
    .parent_div{
        margin:auto
    }
    .options {
        height: auto;
        padding: 5px;
        
        
    }
}